<div class="row">
    <div class="col">
        Information title
    </div>
</div>
<div class="row">
    <div class="col">
        Mars
    </div>
    <div class="col">
        Population on Mars:
    </div>
</div>