<h1 data-sly-use.info="${'title.js' @ val1='TestValueOne', val2='TestValue2'}">Page Name: ${info.pageName}</h1>
<h2>Current Page: ${info.title}</h2>
<h3>Granite Resource Name: ${info.resourceName}</h3>
<h4>Properties Title: ${info.resourceTitle}</h4>
<h3>Values: ${info.vals}</h3>